# deps
node_modules/

# builds
dist/
build/
.next/
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test/coverage
coverage/
.playwright/
playwright-report/
test-results/

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# ts
*.tsbuildinfo
